<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vendor Management</title>

    <!-- favicons -->
    <link rel="icon" type="image/png" href="~/Theme/images/favicon.png">
    <link rel="apple-touch-icon" href="~/Theme/images/apple-touch-icon.png">


    <link href="~/Theme/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/Theme/css/simplebar.min.css" rel="stylesheet" />*@
    @*=========================================================
        This Page Styles
        =========================================================*@
    @*morris chart
        <link rel="stylesheet" href="./assets/vendor/morris/css/morris.min.css">*@
    <!-- toastr -->
    <link href="~/Theme/css/jquery.toast.min.css" rel="stylesheet" />

    @*Main Styles*@
    <link href="~/Theme/css/main.css?v=1.0" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    @*@Styles.Render("~/Theme/css")*@
    <style type="text/css">
        main .main-header .header-info {
            padding: 5px 30px;
        }

        main .content {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
        }

        header {
            width: 100% !important;
            background: #FF3700;
        }

        main {
            margin-left: 0px;
        }
    </style>
</head>
<body>
    <div id='load' style="display:none;">
    </div>
    <div class="wrapper">
        <!-- aside nav -->
        <!--<aside class="main-navigation">
            <nav data-simplebar>
                <div class="header">
                    <div class="logo">
                        <div class="logo-type">
                            <a href="index.html"><span>c<span>o</span>dash</span></a>
                        </div>
                    </div>
                </div>-->
        @*<ul class="menu" id="navmenu">
                <li class="menu-category">MAIN</li>
                    <li class="nav-sub active">
                        <a href=""><i class="fas fa-desktop nav-icon"></i>Dashboard</a>
                        <ul class="sub-menu">
                            <li class="active"><a href="index.html">Dashboard 1</a></li>
                            <li><a href="dashboard-crypto.html">Crypto Currency</a></li>
                            <li><a href="dashboard-support.html">Support Center</a></li>
                        </ul>
                    </li>
                    <li class="nav-sub">
                        <a href=""><i class="fas fa-align-left nav-icon"></i>Menu Styles</a>
                        <ul class="sub-menu">
                            <li><a href="side-menu-light.html">Side Menu Light</a></li>
                            <li><a href="side-menu-transparent.html">Side Menu Transparent</a></li>
                        </ul>
                    </li>
                    <li class="menu-category">UI</li>
                    <li class="nav-sub">
                        <a href=""><i class="fab fa-uikit nav-icon"></i>UI Elements</a>
                        <ul class="sub-menu">
                            <li><a href="ui-buttons.html">Buttons</a></li>
                            <li><a href="ui-typography.html">Typography</a></li>
                            <li><a href="ui-alert.html">Notifications</a></li>
                            <li><a href="ui-modal.html">Modals</a></li>
                            <li><a href="ui-progress.html">Progress Bar</a></li>
                            <li><a href="ui-tabs.html">Tabs &amp; Accordions</a></li>
                            <li><a href="ui-navbars.html">Navbars</a></li>
                            <li><a href="ui-breadcrumbs.html">Breadcrumbs</a></li>
                            <li><a href="ui-blockquote.html">Blockquotes</a></li>
                            <li><a href="ui-pagination.html">Pagination</a></li>
                            <li><a href="ui-badges-labels.html">Badges &amp; Labels</a></li>
                            <li><a href="ui-timeline.html">Timeline</a></li>
                            <li><a href="ui-preloaders.html">Preloaders</a></li>
                            <li><a href="ui-carousel.html">Carousel</a></li>
                        </ul>
                    </li>
                    <li class="nav-sub">
                        <a href=""><i class="fa fa-check-circle nav-icon"></i>Forms</a>
                        <ul class="sub-menu">
                            <li><a href="form-input.html">Inputs</a></li>
                            <li><a href="form-controls.html">Controls</a></li>
                            <li><a href="form-upload.html">Upload</a></li>
                            <li><a href="form-range-slider.html">Range Slider</a></li>
                            <li><a href="form-editor.html">Editor</a></li>
                            <li><a href="form-mask.html">Mask</a></li>
                            <li><a href="form-validation.html">Validation</a></li>
                            <li><a href="form-wizard.html">Wizard</a></li>
                        </ul>
                    </li>
                <li data-menuPageId="home"><a href="~/DashBoard" title="Dashboard"><i class="fa fa-table nav-icon"></i>Dashboard</a></li>

            </ul>*@
        <!--</nav>
        </aside>-->
        <!-- aside nav //. -->
        <!-- header -->
        <header>
            <div class="header-left">
                <!-- navigation-toggle  -->
                <a href="" class="header-btn side-nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <!-- window full screen -->
                <a href="" id="fullScreen" class="header-btn hide-md"><i class="fa fa-expand"></i></a>


            </div>

            <div class="header-right">
                <!-- search -->
                <div>
                    <label><span>Logged in as <b>@ViewBag.Username</b></span></label>
                </div>
                <!-- dropdown user-->
                <div class="dropdown logged-user">
                    <a href="#" class="header-btn" data-toggle="dropdown">
                        <img src="~/Theme/images/user-4.png" alt="...">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="page-profile.html" class="dropdown-item"><i class="fa fa-user mr-10"></i> Profile</a>
                        <a href="app-inbox.html" class="dropdown-item"><i class="far fa-envelope mr-10"></i> Inbox</a>
                        <a href="user-profile.html" class="dropdown-item"><i class="fa fa-cog mr-10"></i> Settings</a>
                        <a href="page-login-2.html" class="dropdown-item"><i class="fas fa-sign-out-alt mr-10"></i> Log Out</a>
                    </div>
                </div><!-- dropdown user //. -->
            </div>
        </header><!-- header //. -->
        <main>
            @*<div class="main-header">
                    <div class="header-info">
                        <h1 class="title">
                            @ViewBag.Title
                        </h1>
                    </div>
                </div>*@
            <div class="content">
                <div class="card">
                    <div class="card-body">
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-error" style="font-weight:bold;color:red;">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <h4>@TempData["Error"] </h4>
                            </div>
                        }
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        <input type="hidden" id="currentPageId" value="@(ViewBag.Page ?? "home")" />
    </div>

    <!-- =========================================================-->
    <!-- All Scripts -->
    <!-- ========================================================= -->
    <!-- jquery -->
    <!--<script src="~/Theme/scripts/jquery-3.2.1.min.js"></script>-->
    <!-- bootstrap -->
    <!--<script src="~/Theme/scripts/popper.min.js"></script>
    <script src="~/Theme/scripts/bootstrap.min.js"></script>-->
    <!-- simplebar scroll -->
    <!--<script src="~/Theme/scripts/simplebar.min.js"></script>-->
    <!-- main js -->
    <!--<script src="~/Theme/scripts/main.js"></script>-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/CustomTheme")
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>  

    <script>
        var showLoader = function (form) {
            $("#load").show();
        }
        var successToast = function () {
            $.toast({
                heading: 'Success',
                text: 'New Vendor Added',
                showHideTransition: 'fade',
                icon: 'success',
                loaderBg: 'rgba(255,255,255,.8)',
                position: 'top-right'
            });
        };
        errorToast = function () {
            'use strict';
            $.toast({
                heading: 'Error',
                text: 'This is just a sample article. Specifies how the output will look.',
                showHideTransition: 'fade',
                icon: 'error',
                loaderBg: 'rgba(255,255,255,.8)',
                position: 'top-right'
            });
        };
    </script>
    <script>
        $(function () {
            var pageIdAttr = "data-menuPageId";
            var currentPage = $("#currentPageId").attr("value");
            var menu = $("#navmenu");
            $("#navmenu > li").removeClass('active');
            $("li[" + pageIdAttr + "=\"" + currentPage + "\"] > a", menu).addClass('active');
            //if (currentPage == 'search' || currentPage == 'summarybymember' || currentPage == 'summarybyproduct') {
            //    $(".nav-parent").addClass('nav-expanded');
            //}
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
