@model VendorMgmt.DataAccess.Model.VendorMaster
@{
    ViewBag.Title = "Vendor Management";
    ViewBag.Page = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*@using (Html.BeginForm("Dashboard", "Home", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data", onsubmit = "showLoader(this);", @id = "frmDashboard" }))
    {*@


<form action="/Home/Dashboard" id="form_id" class="form-horizontal form-bordered" enctype="multipart/form-data" method="post" onsubmit="showLoader(this);" autocomplete="off" data-parsley-validate>
    <style>
        body {
            overflow: hidden; /* Hide scrollbars */
        }

        .auth-split .auth-right {
            position: unset !important;
            width: 50%;
        }

        .auth-split {
            display: flex;
            height: 80vh;
            background-color: #fff;
        }

        .fs-22 {
            font-size: 45px !important;
        }

        .modal-dialog-center {
            margin-top: 5vh;
        }

        .dropdown-menu {
            min-width: 23rem;
            margin-top: 0px !important;
        }

        .dropdown-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
            font-size: 13px;
            padding: 10px 10px;
        }

        .dropdown-menu li {
            line-height: 15px;
        }
        .auth-split .auth-right {
            position: unset !important;
            width: 100%;
        }
            .auth-split .auth-right::after {
                background: none;
            }
    </style>
    <div class="col-md-12 row">
        <div class="col-md-6 no-padding">
            <div class="auth-split">
                <div class="auth-right" style="background-image: url('../../Theme/images/dashboard.jpg'); ">
                    <div class="auth-content">
                        <div>
                            <h1>Arcelor Mittal</h1>
                            <p>Transforming Tomorrow</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-hover card-gradient" style="margin-top:30vh;">
                <button type="button" class="btn btn-primary btn-block btn-lg fs-20" id="btnReview" style="cursor:pointer;"><span class=""><i class="fs-20 fa fa-search mr-10"></i>Review Submission</span> </button>
            </div>
            <div class="card card-hover card-gradient">
                <button type="button" class="btn btn-primary btn-block btn-lg fs-20" id="btnAddNew" style="cursor:pointer;" data-toggle="modal" data-target="#modal-lg"><span class=""><i class="fs-20 fa fa-plus mr-10"></i>Add New Vendor</span> </button>
            </div>
            <div class="card card-hover card-gradient">
                <button type="button" class="btn btn-primary btn-block btn-lg fs-20" id="btnEmailTemplate" style="cursor:pointer;"><span class=""><i class="fs-20 fa fa-envelope mr-10"></i>Manage Email Template</span> </button>
            </div>
        </div>
        <!-- Modal Large -->
        <div class="modal fade modal-dialog-center" id="modal-lg" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Vendor Information</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- card -->
                        <div class="col-md-12">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form-b-1"><strong>Vendor Business Name</strong></label>
                                            @*<input type="text" class="form-control" id="BusinessName" name="BusinessName" required>*@
                                            @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @style = "width:100%;", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form-b-2"><strong>Registration Code</strong></label>
                                            @*<input type="text" class="form-control" id="RegistrationCode" name="RegistrationCode">*@
                                            @Html.TextBoxFor(m => m.RegistrationCode, new { @class = "form-control", @style = "width:100%;", @readonly = "readonly" })

                                            @*@Html.TextBox("RegistrationCode", (object)Model.RegistrationCode, new { @class = "form-control", @style = "width:100%;", @disabled = "disabled" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form-b-3"><strong>Vendor E-Mail Address</strong></label>
                                            @Html.TextBox("VendorEmail", "", new { @class = "form-control", @style = "width:100%;", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form-b-4"><strong>Dofasco Contact Email</strong></label>
                                            @Html.TextBox("DofascoEmail", "", new { @class = "form-control", @style = "width:100%;", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control control-checkbox">
                                                <span>nsKnox</span>
                                                @Html.CheckBox("nsKnox", false, new { @class = "form-control", @style = "width:100%;" })
                                                <span class="control-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-bold btn-pure btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <!-- parsley form validator -->
        <script src="~/Theme/scripts/parsley.min.js"></script>
        @if (ViewBag.JavaScriptFunction != null)
        {
            <script type="text/javascript">

                /**/
              @Html.Raw(ViewBag.JavaScriptFunction)

            </script>
        }


        <script type="text/javascript">
            $("#btnAddNew").click(function () {
                $.ajax({
                    url: '/Home/GenerateNewNumber',
                    type: "POST",
                    data: {},
                    async: false,
                    success: function (result) {
                        if (result != "") {
                            // alert(result.RegistrationCode);
                            $('#RegistrationCode').val(result.RegistrationCode);
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
                $("input[type=text], textarea").not('#RegistrationCode').val("");
            });
            $("#btnReview").click(function () {
                window.open("Vendors", "_self");
            });
            $("#btnEmailTemplate").click(function () {
                window.open("/EmailTemplate", "_self");
            });

            $("#BusinessName").typeahead({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetList",
                        data: {
                            "name": request
                        },
                        type: "GET",
                        contentType: "json",
                        success: function (data) {
                            items = [];
                            map = {};
                            $.each(data, function (i, item) {
                                /*console.log(item);*/
                                var id = item.BusinessName;
                                var name = item.BusinessName;
                                map[name] = {
                                    id: id,
                                    name: name
                                };
                                items.push(name);
                            });
                            response(items);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                updater: function (item) {
                    //alert(map[item].id);
                    //If simultaneously want to update value somewhere else $("#update").val(map[item].id); return item; } });
                    $('[id*=BusinessName]').val(map[item].id);
                    return item;
                }
            });

        </script>


    }
</form>


