@model VendorMgmt.DataAccess.Model.VendorListView
@{
    ViewBag.Title = "Vendor Management";
    ViewBag.Page = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form action="/Home/Vendors" id="form_id" class="form-horizontal form-bordered" enctype="multipart/form-data" method="post" onsubmit="showLoader(this);" autocomplete="off" data-parsley-validate>
    <style>


        .auth-split .auth-right {
            position: unset !important;
            width: 50%;
        }

        .auth-split {
            display: flex;
            height: 80vh;
            background-color: #fff;
        }

        .fs-22 {
            font-size: 45px !important;
        }

        .modal-dialog-center {
            margin-top: 5vh;
        }

        .dropdown-menu {
            min-width: 23rem;
            margin-top: 0px !important;
        }

        .dropdown-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
            font-size: 13px;
            padding: 10px 10px;
        }

        .dropdown-menu li {
            line-height: 15px;
        }

        .dataTable thead tr {
            background-color: #FF3700;
        }

        .table thead tr th {
            color: white !important;
        }

        .dataTables_length select {
            padding: 7px 12px;
            border-radius: 3px;
            border-color: #ebebeb;
            color: #b1b0b0;
            line-height: inherit;
        }
    </style>
    <div>
        <a id="btnBack" href="/" target="_self" class="btn btn-primary btn-shadow">Back to Home</a>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-2 row">
            <a href=""><i class="fas fa-align-center fa-5x fa-filter" style="color: #ff3700; margin-top: 50%;"></i></a>
        </div>
        <div class="col-md-10 row">
            <div class="col-md-12 row">

                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="input-placeholder"><strong>Vendor Name</strong></label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.VendorName, new { @class = "form-control form-control-sm", @style = "width:100%;" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="input-placeholder"><strong>Application Status</strong></label>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.SelectList_ApplicationStatus(m => m.ApplicationStatus, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="input-placeholder"><strong>Requestor Name</strong></label>
                        @*@Html.TextBoxFor(m => m.RequestorName, new { @class = "form-control form-control-sm", @style = "width:100%;" })*@

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.DropDownList("RequestorName", new SelectList(Model.lstUsers, "DisplayName", "DisplayName", Model.RequestorName), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="input-placeholder"><strong>Updated Date  </strong></label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group row" style="margin-left: 1PX;">
                        @Html.TextBox("FromDate", Model.FromDate, new { @class = "form-control ", @style = "width:46%;" })
                        &nbsp;&nbsp;@Html.TextBox("ToDate", Model.ToDate, new { @class = "form-control ", @style = "width:46%;" })
                    </div>
                </div>

            </div>
            <div class="col-md-12 row" style="margin-left:50%;">

                <button type="submit" class="btn btn-bold btn-pure btn-primary">Reset</button>

            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:10px;"></div>
    <div class="col-md-12">
        @if (Model.lstVendors != null)
        {
            <table class="table table-bordered dataTable" id="tblGridData">
                <thead>
                    <tr>
                        <th scope="col">Vendor Name</th>
                        <th scope="col">Requests By</th>
                        <th scope="col">Treasury Actioner</th>
                        <th scope="col">Updated Date</th>
                        <th scope="col">Application Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstVendors)
                    {

                        <tr style="" class="showdetail" data-id="@item.Id">
                            <td>@item.VendorName</td>
                            <td>Gravelle, Corey</td>
                            <td>Lageman , Janice</td>
                            <td>@item.UpdatedDate.ToString("MM/dd/yyyy")</td>
                            <td>@item.Status</td>
                            <td><a id="a_@item.Id" href="/Vendor/GetDetails?RegistrationCode=@item.RegistrationCode" target="_self" class="btn btn-primary btn-shadow">Get Details</a></td>
                        </tr>
                        @*<tr id="tr_@item.id" style="display:none;">
                                <td>&nbsp;</td>
                                <td id="detailsGridData_@item.id" colspan="9"></td>
                            </tr>*@
                    }
                </tbody>
            </table>

        }
    </div>
    <div id="dialog" style="display: none">
    </div>

    @section scripts{
        <!-- parsley form validator -->
        <script src="~/Theme/scripts/parsley.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#FromDate").datepicker({ dateFormat: "yy-mm-dd" });
                $("#ToDate").datepicker({ dateFormat: "yy-mm-dd" });
            });

        </script>
    }
</form>


